<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag("profile.jpeg") %>
        
    </div>
    <div>
        <h1>Its Mr. Stickfigure</h1>
        <p>Kickstarter offal roof party vinyl, readymade celiac cliche tacos VHS put a bird on it retro selfies intelligentsia. Shoreditch 3 wolf moon banjo kitsch mumblecore banh mi pork belly, microdosing twee tumblr echo park tote bag hella quinoa. Four dollar toast man braid selfies biodiesel, helvetica XOXO kogi leggings butcher chillwave truffaut cronut. Pabst biodiesel irony franzen, echo park mumblecore readymade chicharrones cliche distillery kogi drinking vinegar blue bottle austin.</p>
    </div>
</div>